{% set subtext = footer.subtext %}
{% set email = footer.email %}
{% set phone = footer.phone %}
{% set linkedin = footer.linkedin %}
{% set address = footer.address %}
{% set policies = footer.policies %}

<footer class="site-footer">
    <div class="site-container">
        <div class="top-container">
            <div class="column subtext-column subtext">
                {{ subtext }}
            </div>
            <div class="column details-container subtext">
                {% if email %}
                    <a class="email" href="mailto:{{ email }}">{{ email }}</a>
                {% endif %}
                {% if phone %}
                    <a class="phone" href="tel:{{ phone }}">{{ phone }}</a>
                {% endif %}
                {% if linkedin %}
                    <a class="linkedin-link" target="{{ linkedin.target }}" href="{{ linkedin.url }}">
                        {{ linkedin.label }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.621" height="13.621" viewBox="0 0 13.621 13.621">
                            <path id="north_east_24dp_5F6368_FILL0_wght400_GRAD0_opsz24" d="M161.271-746.379,160-747.651l10.533-10.533H164.54V-760h9.08v9.08H171.8v-5.993Z" transform="translate(-160 760)" fill="#fff"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
            {% if address %}
                <div class="column address-column subtext">
                    {{ address }}
                </div>
            {% endif %}
        </div>
        <div class="bottom-container">
            <div class="copyright-container">
                © {{ date().format('Y') }} Subspace. All rights reserved.
            </div>
            <div class="policies-menu-container">
                <ul class="policies-menu">
                    {% for policy in policies %}
                        <li class="policy-item">
                            <a class="policy-link" href="{{ policy.url }}">{{ policy }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>




<div class="quick-enquiry-modal">
    <div class="quick-enquiry-modal-content">
        <div class="close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
            </svg>
        </div>
        <h2>Quick Enquiry</h2>
        <div class="enquiry-preview">
            <div class="preview-label">Enquire about:</div>
            <div class="preview-content">
                <div class="preview-image">
                    <img src="" alt="" id="preview-product-image">
                </div>
                <div class="preview-details">
                    <h3 id="preview-product-title"></h3>
                    <p id="preview-product-reference"></p>
                </div>
            </div>
        </div>
        {{ freeform.form("quickEnquireForm", {
                formattingTemplate: "grid/index.twig"
        }).render() }}
    </div>
</div>