{% set subtext = footer.subtext %}
{% set email = footer.email %}
{% set phone = footer.phone %}
{% set linkedin = footer.linkedin %}
{% set address = footer.address %}
{% set policies = footer.policies %}

<footer class="site-footer">
    <div class="site-container">
        <div class="top-container">
            <div class="column subtext-column subtext">
                {{ subtext }}
            </div>
            <div class="column details-container subtext">
                {% if email %}
                    <a class="email" href="mailto:{{ email }}">{{ email }}</a>
                {% endif %}
                {% if phone %}
                    <a class="phone" href="tel:{{ phone }}">{{ phone }}</a>
                {% endif %}
                {% if linkedin %}
                    <a class="linkedin-link" target="{{ linkedin.target }}" href="{{ linkedin.url }}">
                        {{ linkedin.label }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.621" height="13.621" viewBox="0 0 13.621 13.621">
                            <path id="north_east_24dp_5F6368_FILL0_wght400_GRAD0_opsz24" d="M161.271-746.379,160-747.651l10.533-10.533H164.54V-760h9.08v9.08H171.8v-5.993Z" transform="translate(-160 760)" fill="#fff"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
            {% if address %}
                <div class="column address-column subtext">
                    {{ address }}
                </div>
            {% endif %}
        </div>
        <div class="bottom-container">
            <div class="copyright-container">
                © {{ date().format('Y') }} Subspace. All rights reserved.
            </div>
            <div class="policies-menu-container">
                <ul class="policies-menu">
                    {% for policy in policies %}
                        <li class="policy-item">
                            <a class="policy-link" href="{{ policy.url }}">{{ policy }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>