{% if button %}
    <a href="{{ button.url }}" 
        class="{{ buttonClasses }}"
        {% if button.download %}
            download="{{ button.fileName }}"
        {% endif %}
        {% if button.target %}
            target="{{ button.target }}"
        {% endif %}
    >
        {{ button.label }}
    </a>
{% endif %}